*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-image: url(imagens/bode-skull.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center top; 
}

header{
    width: 100%;
    height: 80px;
    background-color: rgba(24, 22, 22, 0.767);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
}

.container-logo{
    display: flex;
    align-items: center;
    margin: 20px 20px 20px 25px;
}

.logo-img img{
    margin: 20px 0px;
    width: 80px;
    height: 80px;
    border-radius: 30px;
    cursor: pointer;

}

.logo-txt{
    
    color: white;
    text-transform: uppercase;
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: pointer;
    padding: 10px 15px;
}

.menu-h li{
    display: inline;
    list-style-type: none;
}

.menu-h li a{
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 30px;
    cursor: pointer;
    display: inline-block;
}

.menu-h li a:hover{
    background-color:rgba(230, 230, 26, 0.938);
    transition: .6s;
}
.menu-h li a:active{
    background-color: rgba(121, 121, 10, 0.993);
    transition: .3s;
}


.H{
    color: white;
    margin: 50px 30px 0px 30px;
}

#welcome{
    margin: 30px 10px 5px 10px;
}
#intro{
    margin: 0px 10px 10px 20px;
}

.btn{
    margin: 20px 30px 30px 50px;
    padding: 10px 8px;
    width: 200px;
    height: 70px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    text-transform: uppercase;
    color: white;
    background: rgba(230, 230, 26, 0.938);
    border: none;
    border-radius: 10px;
    user-select: none;
    cursor: pointer;
}

.btn:hover{
    background: rgb(255, 255, 9);
    transition: background .3s;
}
.btn:active {
    background-color: rgba(121, 121, 10, 0.993);
}